/* Reset Stylesheets */
*{
    border: 0;
    padding: 0;
    margin: 0;
}

/* Color Variables */
:root {
    --navy: #202251;
    --taupe: #595961;
    --green: #618C74;
    --tan: #C8B2A7;
    --yellow: #EBE464;
}

/* HEADING and FONT STYLES */

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    text-align: center;
    color: var(--navy);
}

h2 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: var(--taupe);
    font-weight: bold;
}

h3 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: var(--green);
}

p {
    font-family: 'urbanist', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    color: black;
}

.divider-line {
    border: 3px solid var(--yellow);
    margin: 20px 10%;
    position: relative;
}


/* HEADER */

header {
    position: relative;
    height: 275px;
    width: 100%;
    margin-bottom: 3%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 6px;
    border-color: var(--navy);
}

.hero-image {
    background-image: url(../images/typewriter.jpg);
    height: 275px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: absolute;
    opacity: 0.4;
    z-index:-1;
}

.hero-text {
    width: 100%;
    height: 275px;
    text-align: center;
    margin-top: 2%;
    position: absolute;
}

.hamburger-nav {
    margin-top: 200px;
}

label {
    color: var(--navy);
    font-size: 3.5rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 200px;
    z-index: 2;
}

#hamburger {
    display: none;
}

nav {
    display: none;
}

/* MAIN */

#description {
    width: 90%;
    margin: 2% 5%;
}

/* CARD CONTAINER */

.card-container {
    display: flex;
    flex-direction: column;
}


.card {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
    border-top: 7px solid var(--yellow);
}

.card-title {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 56%; 
    height: 75px;
    padding: 2%;
    background-color: white;
    cursor: pointer;
}

.card-image {
    position: relative;
    width: 100%;
    margin-top: -60px;
    z-index:-1;
}

a.card-link:link, a.card-link:visited {
    font-family: 'ABeeZee', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: var(--green);
    cursor: pointer;
}

a.card-link:hover {
    font-family: 'ABeeZee', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: var(--navy);
    cursor: pointer;
}

/* FOOTER */

footer {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: var(--tan);
}


/* Footer Form */

form {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 2%;
}

#email {
    width: 80%;
    padding: 1%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--navy);
    border-radius: 10px;
}

#submit {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 5%;
    padding-left: 5%;
    color: white;
    background-color:#202251;
    cursor: pointer;
    border-radius: 10px;
}

/* Footer Nav */

a.footer-nav:link, a.footer-nav:visited {
    font-family: 'ABeeZee', sans-serif;
    font-size: .75rem;
    margin-top: 3px;
    color: var(--navy);
    text-decoration: underline;
}

a.footer-nav:hover {
    color: var(--green);
}

.footer-nav-set {
    position: relative;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.footer-nav {
   margin: 0 20px;
}



/*MEDIA QUERIES */

@media screen and (min-width: 768px) {
   
    /* Header */
    header {
        height: 225px;
    }

    .hero-image {
        height: 225px;
        background-position: center-top;
    }
    
    /* Navigation */

    label {
        display:none;
    }

    nav {
        display: flex;
    }

    ul {
        list-style-type: none;
        display: flex;
        width: 95%;
        justify-content: space-between;
        margin: 0 2.5%;
    }

    ul li {
        list-style-type: none;
        color: white;
        font-family: 'ABeeZee', sans-serif;
        font-size: 1rem;
    }

    ul li a {
        color: white;
        background-color: var(--navy);
        text-decoration: none;
        border-radius: 10px;
        padding: 5px 15px;
        position: relative;
        top: 15px;
    }

    /* Cards */
    .card-container {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: auto;
        flex-direction: row;
        justify-content:space-around;
    }

    .card {
        width: 45%;
        margin: 5px;
    }

    a:link, a:visited {
        font-size: 1.25rem;
    }
    
    a:hover {
        font-size: 1.25rem;
    }

    /* Footer*/
    .footer-container {
        display: flex;
        flex-wrap:wrap;
        width: 95%;
        flex-direction: row-reverse;
    }

    .footer-nav-set {
        display: flex;
        flex-direction: row;
        width: 45%;
        margin-left: 3.5%;
        justify-content: start;
    } 

    a.footer-nav:link, a.footer-nav:visited {
        font-size: .85rem;
    }

    form {
        width: 45%;
    }

    #email {
        width: 75%;
    }
 } 